<!DOCTYPE html>

<!-- Where we declare where our main app file (index.js equivalent for React) -->
<html ng-app='einstock'>

<head>
  <meta charset="utf-8" />
  <title>EinStock Algo Trader</title>
  <!-- Local CSS for customization and Angular Material -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
  <!-- Node modules we'll be using -->
  <script src="/public/angular/angular.js"></script>
  <script src="/public/angular-route/angular-route.js"></script>
  <script src="/public/angular-aria/angular-aria.js"></script>
  <script src="/public/angular-animate/angular-animate.js"></script>
  <script src="/public/chart.js/dist/chart.js"></script>
  <script src="/public/angular-chart.js/angular-chart.js"></script>
  <script src="/public/moment/moment.js"></script>
  <script src="/public/angular-ui-router/release/angular-ui-router.js"></script>
  <!-- Auth0 Authentication Modules -->
  <script src="public/angular-lock/dist/angular-lock.js"></script>
  <script src="public/angular-jwt/dist/angular-jwt.js"></script>
  <script type="text/javascript" src="https://cdn.auth0.com/js/lock/10.5/lock.min.js"></script>
  <!-- Angular Material CSS and Font -->
  <script src="/public/angular-material/angular-material.js"></script>
  <script src="/public/angular-messages/angular-messages.js"></script>
  <link rel="stylesheet" href="/public/angular-material/angular-material.css">
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>

<!-- Header for the our SPA (Single Page Application) -->
<div class="container">
  <img class="background" src="/assets/background3.jpg">
  <h1 class="md-display-3" id="title">EinStock</h1>
</div>

<!-- Scroll Down Arrow Button -->
<div ng-controller="ScrollerController">
  <md-button id="scroll-down" class="md-fab md-primary md-hue-2" aria-label="Scroll Down" ng-click="scrollDown()">
    <md-icon md-svg-src="assets/icons/timeline.svg"></md-icon>
  </md-button>
</div>

<!-- Logout Button for Auth0 -->
<div ng-if="isAuthenticated">
  <p>Thank you for logging in!</p>
  <button ng-click="vm.authService.logout()">Log Out</button>
</div>

<!-- Navigation Bar -->
<div class="container" id="navbar">
  <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="Navigation bar">
    <md-nav-item md-nav-href="#/welcome#navbar" name="welcome">Welcome</md-nav-item>
    <md-nav-item md-nav-href="#/algorithm#navbar" name="algorithm">Settings</md-nav-item>
    <md-nav-item md-nav-href="#/dashboard#navbar" name="dashboard">Dashboard</md-nav-item>
  </md-nav-bar>
</div>

<!-- UI Router -->
<div ui-view></div>

<!-- Local routes for files -->
  <script src="/services/services.js"></script>
  <script src="/services/auth.js"></script>
  <script src="/services/ticks.js"></script>
  <script src="/algorithm/algorithm.js"></script>
  <script src="/app/run.js"></script>
  <script src="/app/scroller.js"></script>
  <script src="/dashboard/dashboard.js"></script>
  <script src="/login/login.js"></script>
  <script src="/welcome/welcome.js"></script>
  <script src="/app.js"></script>
</body>

</html>
