<!-- Navigation Bar -->
<div class="container" id="navbar" ng-controller="LoginController">
  <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="Navigation bar">
    <md-nav-item md-nav-href="#/welcome#navbar" name="welcome">Welcome</md-nav-item>
    <md-nav-item md-nav-href="#/about" name="about">About</md-nav-item>
    <md-nav-item md-nav-href="#/machine_learning" name="machine">Machine Learning</md-nav-item>
    <md-nav-item md-nav-href="#/algorithm" ng-if="isLoggedIn" name="algorithm">Settings</md-nav-item>
    <md-nav-item md-nav-href="#/dashboard" ng-if="isLoggedIn" name="dashboard">Dashboard</md-nav-item>
    <md-nav-item md-nav-href="#/welcome" ng-if="isLoggedIn" name="logout" ng-click="authService.logout();">Log Out</md-nav-item>
    <md-nav-item md-nav-href="#/welcome" ng-if="!isLoggedIn" name="login" ng-click="authService.login();">Log In</md-nav-item>
  </md-nav-bar>
</div>
<!-- Dashboard Div begins here -->
<div layout="column" ng-controller="DashboardController" class="dashboard" flex ng-cloak>
  <!-- Speed Dial to click through past three searches -->
  <div id="history" ng-controller="SpeedController">
    <md-fab-speed-dial md-direction="left" class="md-fling">
      <!-- Thing that opens up when clicked -->
      <md-fab-trigger>
        <md-button class="md-fab md-warn" aria-label="history">
          <md-icon md-svg-src="/assets/icons/barchart.svg"></md-icon>
        </md-button>
      </md-fab-trigger>
      <!-- Available actions -->
      <md-fab-actions>
        <md-button aria-label="history" class="md-fab md-raised md-mini" ng-click="changeHistoryThree()">
          <md-icon md-svg-src="/assets/icons/three.svg"></md-icon>
        </md-button>
        <md-button aria-label="history" class="md-fab md-raised md-mini" ng-click="changeHistoryTwo()">
          <md-icon md-svg-src="/assets/icons/two.svg"></md-icon>
        </md-button>
        <md-button aria-label="history" class="md-fab md-raised md-mini" ng-click="changeHistoryOne()">
          <md-icon md-svg-src="/assets/icons/one.svg"></md-icon>
        </md-button>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>
  <!-- Charts in the Dashboard -->
  <div id="chart-container">
    <!-- Material Grid List Container -->
    <!-- Stock Ticker Symbol -->
    <h1 class="md-display-3" id="dashboard-title">{{data.tickerSymbol}}</h1>
    <md-grid-list md-cols="4" md-row-height="200px" md-gutter="20px">
      <!-- Trading timeline -->
      <md-grid-tile md-rowspan="2" md-colspan="4">
        <md-grid-tile-header>
          <h3 class="md-headline">Simulated Trading Activities</h3>
        </md-grid-tile-header>
        <div id="barchart">
          <canvas id="bar" class="chart chart-bar" chart-data="timeline" chart-labels="labels" chart-series="timelineSeries" chart-options="timelineOptions" chart-colors="timelineColors">
          </canvas>
        </div>
      </md-grid-tile>
      <!-- Radar Chart -->
      <md-grid-tile md-rowspan="2" md-colspan="2">
        <md-grid-tile-header>
          <h3 class="md-headline">Investment Return Comparison</h3>
        </md-grid-tile-header>
        <div id="radarchart">
          <canvas id="radar" class="chart chart-radar" chart-options="radarOptions" chart-data="radar" chart-labels="radarLabel" chart-colors="colors">
          </canvas>
        </div>
      </md-grid-tile>
      <!-- Pie Chart -->
      <md-grid-tile md-rowspan="2" md-colspan="2">
        <md-grid-tile-header>
          <h3 class="md-headline"">Success Rate of Predictions</h3>
        </md-grid-tile-header>
        <div id="piechart">
          <canvas id="pie" class="chart chart-pie" chart-data="pie" chart-labels="pieLabels" chart-options="pieOptions" chart-series="pieSeries">
          </canvas>
        </div>
      </md-grid-tile>
      <!-- Bar Line Chart -->
      <md-grid-tile md-rowspan="2" md-colspan="3">
        <md-grid-tile-header>
          <h3 class="md-headline">Daily Profile of Asset Values</h3>
        </md-grid-tile-header>
        <div id="barlinechart">
          <canvas id="line" class="chart-bar" chart-data="line" chart-labels="labels" chart-series="lineSeries" chart-options="lineOptions" chart-dataset-override="datasetOverride" chart-click="onClick">
          </canvas>
        </div>
      </md-grid-tile>
      <!-- Tomorrow Up or Down -->
      <md-grid-tile md-rowspan="2" md-colspan="1">
        <md-grid-tile-header>
          <h3 class="md-headline">Price Prediction</h3>
        </md-grid-tile-header>
        <div id="tomorrow">
          <img ng-if="history.tomorrow > 0" class="arrow" src="../assets/icons/arrowup.png">
          <img ng-if="history.tomorrow < 1" class="arrow" src="../assets/icons/arrowdown.png">
        </div>
      </md-grid-tile>
    </md-grid-list>
    <!-- Line -->
    <br>
  </div>
</div>
