<!-- Div for main Welcome to Einstock -->
<div class="welcome" ng-controller="WelcomeController">
  <!-- Header for the our SPA (Single Page Application) -->
  <div class="container">
    <img class="background" src="/assets/background3.jpg">
    <h1 class="md-display-3" id="title">EinStock</h1>
  </div>
  <!-- Scroll Down Arrow Button -->
  <div ng-controller="ScrollerController">
    <md-button id="scroll-down" class="md-fab md-primary md-hue-2" aria-label="Scroll Down" ng-click="scrollDown()">
      <md-icon md-svg-src="assets/icons/timeline.svg"></md-icon>
    </md-button>
  </div>

  <!-- Navigation Bar -->
  <div class="container" id="navbar" ng-controller="LoginController">
    <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="Navigation bar">
      <md-nav-item md-nav-href="#/welcome#navbar" name="welcome">Welcome</md-nav-item>
      <md-nav-item md-nav-href="#/machine_learning" name="machine">Machine Learning</md-nav-item>
      <md-nav-item md-nav-href="#/algorithm" name="algorithm">Settings</md-nav-item>
      <md-nav-item md-nav-href="#/dashboard" name="dashboard">Dashboard</md-nav-item>
      <md-nav-item md-nav-href="#/welcome" ng-if="isLoggedIn" name="logout" ng-click="authService.logout();">Log Out</md-nav-item>
      <md-nav-item md-nav-href="#/welcome" ng-if="!isLoggedIn" name="login" ng-click="buttonSwitch(); authService.login();">Log In</md-nav-item>
    </md-nav-bar>
  </div>

  <!-- Video Tutorial -->
  <div class="welcome-hello-banner">
    <!--<h1 class="md-display-3" id="welcome-header">How it works</h1>-->
    <!--<div>
    <img id="welcome-banner" src="/assets/balloons.jpg">
  </div>-->
    <video frameborder="0" autoplay="autoplay" loop="loop">
      <source src="/assets/trialvid1.mp4" type="video/mp4" />
    </video>
    <!--<h1 id="layWrap" align="center">How it works</h1>-->
    <div id="overlay"></div>
  </div>
  <!-- Div for How to Use Algorithm Selector -->
  <div class="howto">
    <h2 class="md-display-2">How the heck do you use this Algorithm Selector?</h2>
    <p>{{how}}</p>
    <p id="disclaimer">{{disclaimer}}</p>
  </div>
  <div how-to>
  </div>
  <md-divider></md-divider>
  <!-- Div for About Us and Team -->
  <div class="about">
    <!-- About Us description -->
    <h2 class="md-display-2">About Us</h2>
    <p>{{about}}</p>
  </div>
  <md-divider></md-divider>
  <!-- Team Pics -->
  <div>
    <h2 class="md-display-2">Meet Our Sexy Team</h2>
    <!-- First Line of pics -->
    <div class="team">
      <h2>Kevin Kim</h2>
      <h4>Product Owner</h4>
      <img class="teampic" src="../assets/kev.jpg">
      <div class="job-icon">
        <a href="https://www.linkedin.com/in/kevin-ji-kim">
          <img class="linkedin" src="../assets/linkedin.svg">
        </a>
        <a href="https://github.com/gsuppy">
          <img class="github" src="../assets/github.png">
        </a>
      </div>
    </div>
    <div class="team">
      <h2>Lucas Hawes</h2>
      <h4>Scrum Master</h4>
      <img class="teampic" src="/assets/lucas.png">
      <div class="job-icon">
        <a href="https://www.linkedin.com/in/lucashawes">
          <img class="linkedin" src="../assets/linkedin.svg">
        </a>
        <a href="https://github.com/lhawes">
          <img class="github" src="../assets/github.png">
        </a>
      </div>
    </div>
    <div class="team">
      <h2>Natasha Che</h2>
      <h4>Lead Algorithm Engineer</h4>
      <img class="teampic" src="../assets/natasha.jpeg">
      <div class="job-icon">
        <a href="https://www.linkedin.com/in/natashache">
          <img class="linkedin" src="../assets/linkedin.svg">
        </a>
        <a href="https://github.com/natashache">
          <img class="github" src="../assets/github.png">
        </a>
      </div>
    </div>
    <div class="team">
      <h2>Aaron Stevens</h2>
      <h4>Lead Frontend and Server Engineer</h4>
      <img class="teampic" src="../assets/aaron.jpg">
      <div class="job-icon">
        <a href="https://www.linkedin.com/in/aaron-stevens-565636129">
          <img class="linkedin" src="../assets/linkedin.svg">
        </a>
        <a href="https://github.com/astev89">
          <img class="github" src="../assets/github.png">
        </a>
      </div>
    </div>
  </div>
</div>
