<!-- Navigation Bar -->
<div class="container" id="navbar" ng-controller="LoginController">
  <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="Navigation bar">
    <md-nav-item md-nav-href="#/welcome#navbar" name="welcome">Welcome</md-nav-item>
    <md-nav-item md-nav-href="#/machine_learning" name="machine">Machine Learning</md-nav-item>
    <md-nav-item md-nav-href="#/algorithm" ng-if="isLoggedIn" name="algorithm">Choose Algorithm</md-nav-item>
    <md-nav-item md-nav-href="#/dashboard" ng-if="isLoggedIn && dashShow" name="dashboard">Results</md-nav-item>
    <md-nav-item md-nav-href="#/about" name="about">About Us</md-nav-item>
    <md-nav-item md-nav-href="#/welcome" ng-if="isLoggedIn" name="logout" ng-click="authService.logout();">Log Out</md-nav-item>
    <md-nav-item md-nav-href="#/welcome" ng-if="!isLoggedIn" name="login" ng-click="authService.login();">Log In</md-nav-item>
  </md-nav-bar>
</div>
<!-- Machine Learning Info -->
<div class="machine" ng-controller="MachineController">
  <!-- Machine Learning -->
  <div>
    <h2 class="md-display-2">What is Machine Learning?</h2>
    <p>{{about}}</p>
    <ul>
      <li ng-repeat="type in types"> {{type}} </li>
    </ul>
  </div>
  <div>
    <h2 class="md-display-2">Machine Learning Algorithms We Use</h2>
    <p>{{algoIntro}}</p>
    <ul>
      <li ng-repeat="algorithm in algorithms"><strong>{{algoTitles[$index]}}: </strong> {{algorithm}} </li>
    </ul>
  </div>
  <div class="machine-video">
    <iframe width="700" height="500" src="https://www.youtube.com/embed/IpGxLWOIZy4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
