<!-- Navigation Bar -->
<div class="container" id="navbar" ng-controller="LoginController">
  <md-nav-bar md-selected-nav-item="currentNavItem" aria-label="Navigation bar">
    <md-nav-item md-nav-href="#/welcome#navbar" name="welcome">Welcome</md-nav-item>
    <md-nav-item md-nav-href="#/about" name="about">About</md-nav-item>
    <md-nav-item md-nav-href="#/machine_learning" name="machine">Machine Learning</md-nav-item>
    <md-nav-item md-nav-href="#/algorithm" ng-if="isLoggedIn" name="algorithm">Settings</md-nav-item>
    <md-nav-item md-nav-href="#/dashboard" ng-if="isLoggedIn" name="dashboard">Dashboard</md-nav-item>
    <md-nav-item md-nav-href="#/welcome" ng-if="isLoggedIn" name="logout" ng-click="authService.logout();">Log Out</md-nav-item>
    <md-nav-item md-nav-href="#/welcome" ng-if="!isLoggedIn" name="login" ng-click="authService.login();">Log In</md-nav-item>
  </md-nav-bar>
</div>

<!-- Main Algorithim selector div with input form -->
<div layout="column" ng-controller="AlgorithmController">
  <md-progress-linear md-mode="indeterminate" ng-show="vm.isLoading"></md-progress-linear>
  <h2 class="md-display-1 setting">Settings<h2>
    <md-content layout-padding>
      <form name="algoInput">
        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <md-input-container>
              <label>Choose A Ticker</label>
              <input md-minlength="1" md-maxlength="5" required md-no-asterisk name="tick" ng-model="vm.data.ticker">
              <div ng-messages="algoInput.tick.$error">
                <div ng-if="!vm.tickTest()">Not a valid ticker</div>
                <div ng-message="required">Stock ticker required.</div>
                <div ng-message="validationError">Not a valid stock tick</div>
                <div ng-message="md-maxlength">The ticker must be less than 5 characters long.</div>
                <div ng-message="md-minlength">The ticker must be more than one character long.</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <h4>Pick an Algorithim below</h4>
            <div layout="row">
              <md-input-container>
                <label>Algorithims</label>
                <md-select ng-model="vm.data.algorithm">
                  <md-optgroup label="Algorithims">
                    <md-option ng-value="item" ng-repeat="item in vm.algSelections">{{item}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>
        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <h4>Select Start Date:</h4>
            <md-datepicker ng-model="vm.data.startDate" md-placeholder="start date"></md-datepicker>
            <h4>Select End Date:</h4>
            <md-datepicker ng-model="vm.data.endDate" md-placeholder="end date"></md-datepicker>
          </div>
        </div>
        <div layout-gt-xs="row">
          <div flex-gt-xs>
          <md-button ng-disabled="!vm.tickTest() || !(vm.data.ticker.length > 0) && !(vm.data.ticker.length < 6)" ng-click="vm.log()"
              class="md-raised md-primary submit" type="submit">Submit</md-button>
          </div>
        </div>
      </form>
    </md-content>
  </div>
</div>